a.pub_button {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.pub_button .PDF {
  border: 2px solid #FE2E2E;
}

.pub_button .PDF:hover {
  background-color: #FE2E2E;
}

.pub_button .SLIDES {
  border: 2px solid #01DF74;
}

.pub_button .SLIDES:hover {
  background-color: #01DF74;
}

.pub_button .BIB {
  border: 2px solid #FFBF00;
}

.pub_button .BIB:hover {
  background-color: #FFBF00;
}

.pub_button .DOI {
  border: 2px solid #008CBA;
 }

.pub_button .DOI:hover {
  background-color: #008CBA;
}

.pub_button .VIDEO {
  border: 2px solid #6A287E;
}

.pub_button .VIDEO:hover {
  background-color: #6A287E;
}

.pub_button .LINK {
  border: 2px solid #145a32;
}

.pub_button .LINK:hover {
  background-color: #145a32 ;
}

.pub_button .SEMINAR {
  border: 2px solid #c6c6c6;
}

.pub_button .SEMINAR:hover {
  background-color: #c6c6c6 ;
}

.pub_button .CODE {
  border: 2px solid #996633;
}

.pub_button .CODE:hover {
  background-color: #996633 ;
}

.pub_button .CONTENTS {
  border: 2px solid #585858;
}

.pub_button .CONTENTS:hover {
  background-color: #585858 ;
}

