a.pub_button {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.PDF {
  border: 2px solid #FE2E2E;
}

.PDF:hover {
  background-color: #FE2E2E;
}

.SLIDES {
  border: 2px solid #017944;  
}

.SLIDES:hover {
  background-color: #018954;
}

.BIB {
  border: 2px solid #FFBF00;
}

.BIB:hover {
  background-color: #FFBF00;
}

.DOI {
  border: 2px solid #008CBA;
 }

.DOI:hover {
  background-color: #008CBA;
}

.VIDEO {
  border: 2px solid #6A287E;
}

.VIDEO:hover {
  background-color: #6A287E;
}

.POSTER {
  border: 2px solid #6A287E;
}

.POSTER:hover {
  background-color: #6A287E;
}

.LINK {
  border: 2px solid #145a32;
}

.LINK:hover {
  background-color: #145a32 ;
}

.SEMINAR {
  border: 2px solid #c6c6c6;
}

.SEMINAR:hover {
  background-color: #c6c6c6 ;
}

.CODE {
  border: 2px solid #996633;
}

.CODE:hover {
  background-color: #996633 ;
}

.CONTENTS {
  border: 2px solid #585858;
}

.CONTENTS:hover {
  background-color: #585858 ;
}

