#presentations .container > h3 {
    color: var(--text-secondary-color) !important;
}

#presentations p.pres {
  list-style: none;
}

#presentations .Invited { 
  color: #c32b72;
}

#presentations .Course { 
  color: #BF8F00;
}

#presentations .Paper { 
  color: #196ca3;
}

#presentations .Doctoral { 
  color: #9A28BE;
}



